---
const header = Astro.props.header;
const text = Astro.props.text;
---
<article>
<div class="Podcast_card_1">
    <img src="billeder/podcast.webp" alt="hovedpodcast billede">
    <h3>{header}</h3>
    <div class="b3"> {text}</div>
    <a href="https://open.spotify.com/show/2SIj3k4uJ6B7hC1LosHdlP" target="hoved_podcast">
        <img src="billeder/spotify_green_logo.svg" alt="spotify"></a>
</div>
</article>