---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import "../styles/styles.css"
import Button from "../components/Button.astro";
import Topmenu from "../components/Topmenu.astro"
import CardStandard from "../components/CardStandard.astro"
import Episodecard from "../components/Podcast_side/Episodecard.astro";
import Arstalfilter from "../components/Arstalfilter.astro";


---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name = "generator" content={Astro.generator}/>
    <title>vanvittigverdenshistorie</title>
  </head>

<main>
<Topmenu />
<MainLayout/>

<article class="hero">
  <video autoplay loop playsinline class="hero-video">
    <source src="/video/vvh.mp4" type="video/mp4" />
  </video>
</article>


<!-- Card 1 -->
  <CardStandard header="Hvem er vi?">
    <div>
      <p>
        Vi er Alexander og Peter, to venner med en passion for øl, humor og vilde historier. <br />
        I Vanvittig Verdenshistorie dykker vi ned i de skøreste fortællinger fra verdenshistorien – fra nutid til fortid.
      </p>
      <Button variant="secondary" size="medium">Støt</Button>
      <Button variant="primary" size="medium">Om os</Button>
    </div>
    <div>
      <img src="billeder/podcast_billeder/Privat_peterogalex.png" alt="Billede af Peter og Alexander" />
    </div>
  </CardStandard>

  <h2>Lyt til et udsnit af podcasten</h2>

 <Arstalfilter />
<!-- VVH Episoder -->
<div class="episode-container">

    <div  class="episoder">
    <Episodecard 
    imgSrc="/billeder/podcast_billeder/meltilmillioner.webp" 
    text="#214: Episode om Mel for Millioner af kroner"
  />
  <Episodecard 
    imgSrc="/billeder/podcast_billeder/aus.webp" 
    text="#213: I Auschwitz... Med vilje (REQUEST)"
  />
  <Episodecard 
    imgSrc="/billeder/podcast_billeder/sportsgrene.webp" 
    text="#212: Episode om Spøjse Sportsgrene ll"
  />
 <Episodecard 
  imgSrc="/billeder/podcast_billeder/oswald.webp" 
  text="#211: #211: Oswald Mosley: Britiske Hitler"
/>
<Episodecard 
  imgSrc="/billeder/podcast_billeder/bahamas.webp" 
  text="#210: Joe Carstairs: Babes, Både & Bahamas"
/>
<Episodecard 
  imgSrc="/billeder/podcast_billeder/bigfoot.webp" 
  text="#209: Bigfoots Baggrundshistorie"
/> 
<Episodecard 
imgSrc="/billeder/podcast_billeder/sportsgrene.webp" 
text="#212: Episode om Spøjse Sportsgrene ll"
/>
<Episodecard 
imgSrc="/billeder/podcast_billeder/oswald.webp" 
text="#211: #211: Oswald Mosley: Britiske Hitler"
/>
<Episodecard 
imgSrc="/billeder/podcast_billeder/bahamas.webp" 
text="#210: Joe Carstairs: Babes, Både & Bahamas"
/>
<Episodecard 
imgSrc="/billeder/podcast_billeder/bigfoot.webp" 
text="#209: Bigfoots Baggrundshistorie"
/> 
</div>

<!-- Card 2 -->
  <CardStandard header="Kom & se os live">
    <div>
      <p>
        Vi turnerer jævnligt med podcasten. På nedenstående link kan du se, om vi snart kommer forbi lige netop DIN by! Du ved aldrig, hvad vi finder på – men vi lover dig, at det bliver sjovt!
      </p>
      <Button variant="primary" size="medium">Live shows</Button>
    </div>
    <div>
      <img src="billeder/podcast_billeder/live_illu 2.svg" alt="Illustration af sofa og lys" />
    </div>
  </CardStandard>

  <Footer />
	<main/>