---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Newsletter.astro";
import Footer from "../components/Footer.astro";
import "../styles/styles.css"
---
<main>

	<h2>Hvem er vi?</h2>
<b3>
	Vi er Alexander og Peter, to venner med en passion for øl, humor og vilde historier. I Vanvittig Verdenshistorie dykker vi ned i de skøreste fortællinger fra verdenshistorien – fra nutid til  fortid.
</b3>



<Footer />
<Card />
	<main/>