---
import MainLayout from "../layouts/MainLayout.astro";
import TopNav from "../components/TopNav.astro";
import Footer from "../components/Footer.astro";
import "../styles/styles.css"
import "../styles/layout.css"

const data = await fetch("https://npzsiyrlhgyrlgqihmlr.supabase.co/rest/v1/live_shows", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wenNpeXJsaGd5cmxncWlobWxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI2NDI1MTEsImV4cCI6MjA0ODIxODUxMX0.klMuw3yaTjBtbbNh1X8UpiCQzsvctaGUNlBp6RC8oz8"
    }
}).then(res=>res.json());

console.log(data);
---
<main>
<MainLayout metatitle="liveshow">
    <TopNav />        
<section>
<h1>Live Shows</h1>
<p>Vi turnerer jævnligt med podcasten. På nedenstående link kan du se om vi snart kommer forbi lige netop DIN by! Du ved aldrig, hvad vi finder på - men vi lover dig, at det bliver sjovt! </p>
</section>

<section>
    <!-- liveshows -->
</section>

<section>
    <!-- mapping igenem data og returnerer et card for hver show -->
  {data.map((show) => (
            <div class="card">
                <h2>{show.title}</h2>
                <p>{show.description}</p>
            </div>
        ))}
    </section>
<Footer />
</MainLayout> 
</main>