---
import MainLayout from "../layouts/MainLayout.astro";
import CardLiveShow from "../components/CardLiveShow.astro";
import Button from "../components/Button.astro";
import Bottomnav from "../components/Bottomnav.astro";
import "../styles/styles.css"
const data = await fetch("https://npzsiyrlhgyrlgqihmlr.supabase.co/rest/v1/live_shows", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wenNpeXJsaGd5cmxncWlobWxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI2NDI1MTEsImV4cCI6MjA0ODIxODUxMX0.klMuw3yaTjBtbbNh1X8UpiCQzsvctaGUNlBp6RC8oz8"
    }
}).then(res=>res.json());
console.log(data);
---

<MainLayout>
<main>
<Bottomnav/>

<!-- Live show card -->
<section class="live-shows">
  <img src="/public/billeder/liveshow_illu.webp" alt="illustartion">
  <div class="hero">
<h1>Live Shows</h1>
<h3>Vi turnerer jævnligt med podcasten. På nedenstående link kan du se om vi snart kommer forbi lige netop DIN by! Du ved aldrig, hvad vi finder på - men vi lover dig, at det bliver sjovt! </h3> </div>
 target=_blank = åbner link i ny fane. rel=noopner noreferrer = sikre angreb på den åbne side, øger sikkerhed 
<!-- <a href="https://bentertained.dk/eventpage/vanvittig-verdenshistorie/"  target="_blank" rel="noopener noreferrer"> -->
<div class="cards-container"> 
mapping igenem data og returnerer et card for hver show
  {data.map((show) => (
<CardLiveShow header={show.name} image={show.image} text={show.description} buyTicketUrl={show.buy_url}/>
 ))}
</div>

    </section>



<section class="lyt_podcast">
    <h2>Lyt med på podcasten</h2>
    <p class="b2">Hør vores 3 fantastiske podcasts, hvor vi dykker ned i skøre og fantastiske røverhistorier. Vi drikker en øl, deler en historie skiftevis, og vurdere til slut på vores eget vanvidsbarometer. </p>
</section>
</main>
</MainLayout>


<style>
  /* Mobil */
  .live-shows img {
    width: 100%;
    height: auto;
  }
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr;
  }

  a{
    text-decoration: none;
  }

/* Desktop */
  @media (min-width: 768px) {
    .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr;
  } 

  }

</style>