---
import "../styles/styles.css";
import "../styles/layout.css";
import TopNav from "../components/TopNav.astro";
import Footer from "../components/Footer.astro";
import CardOmOs from "../components/CardOmOs.astro";
import Instagram from "../components/Instagram.astro";
import MainLayout from "../layouts/MainLayout.astro";

---
<main>
    <MainLayout />
<layout title="Om Os">
    <h1>Vanvittig Verdenshistorie</h1>
    <h2>Om os</h2>
    <p class="b2">Vi er Alexander og Peter, to venner med en passion for oel, humor og vilde historier. I Vanvittig Verdenshistorie dykker vi ned i de skoereste fortaellinger fra verdenshistorien fra nutid til fortid.</p>


<!-- <CardOmOs flexbillede>
    <img src="/billeder/peter.webp" alt="peter">
    <h2>Peter Loehde</p> 
    <p>Jeg har lavet podcast siden jeg var 13 aar. Jeg er vild med at formidle podcast,
    og arbejder som projektleder paa flere podcasts.</p>

    <img src="/billeder/alex.webp" alt="alex">
    <h2>Alexander Janku</p> 
    <p>Jeg er vild med oel og video. Jeg har et helt rum fyldt med oel fra bund til top. Jeg laver dokumentarer og arbejder med lyd.</p>
</CardOmOs>
 -->
<Instagram instagram>
<img src="/billeder/instagram1.webp" alt="insta1">
<img src="/billeder/instagram2.webp" alt="insta2">
<img src="/billeder/instagram3.webp" alt="insta3">
</Instagram>

<h2>Vil du stoette podcasten?</h2>
<p>Foerst og fremmest: TAK!
Vi er en gratis podcast, der ikke direkte tjener penge paa, at folk som dig lytter med! Derfor er sponsorater og donationer med til at holde gang i hjulene. En rigtig god maade at stoette paa er ved at donere et fast, lavt beloeb pr. afsnit via 10er.dk.</p>

<h2>Kom til vores Live Shows</h2>
<p>Vi turnerer jaevnligt med podcasten. Paa nedenstaeende link kan du se om vi snart kommer forbi lige netop DIN by! Du ved aldrig, hvad vi finder paa - men vi lover dig, at det bliver sjovt! </p>
<Footer />
</main>

<style>
    h1,h2,p{
color: #fffdea;
    }
    p{
        max-width: 65ch;
    }
</style>