---
import TopNav from "../components/TopNav.astro";
import "../styles/styles.css";
import "../styles/layout.css";
import Footer from "../components/Footer.astro";
import Billedebillede from "../components/Billedebillede.astro";
---
<main>
<layout title="Om Os">
    <h1>Vanvittig Verdenshistorie</h1>
<h2>Om os</h2>
<p class="b2">Vi er Alexander og Peter, to venner med en passion for oel, humor og vilde historier. I Vanvittig Verdenshistorie dykker vi ned i de skøreste fortaellinger fra verdenshistorien fra nutid til  fortid.</p>

<Billedebillede />

<h2>Vil du stoette podcasten?</h2>
<p>Foerst og fremmest: TAK!
Vi er en gratis podcast, der ikke direkte tjener penge paa, at folk som dig lytter med! Derfor er sponsorater og donationer med til at holde gang i hjulene. En rigtig god maade at stoette paa er ved at donere et fast, lavt beloeb pr. afsnit via 10er.dk.</p>

<h2>Kom til vores Live Shows</h2>
<p>Vi turnerer jaevnligt med podcasten. På nedenstående link kan du se om vi snart kommer forbi lige netop DIN by! Du ved aldrig, hvad vi finder paa - men vi lover dig, at det bliver sjovt! </p>
<Footer />
</main>

<style>
 p, h1, h2, h3{
        color: #fffdea;
        max-width: 55ch;
    }
   
</style>