---
import TopNav from "../components/TopNav.astro";
import layout from "../styles/layout.css";
import Footer from "../components/Footer.astro";
import Billedebillede from "../components/billedebillede.astro";
---

<layout title="Om Os">
    <h1>Vanvittig Verdenshistorie</h1>
<h2>Om os</h2>
<p>Vi er Alexander og Peter, to venner med en passion for øl, humor og vilde historier. I Vanvittig Verdenshistorie dykker vi ned i de skøreste fortællinger fra verdenshistorien fra nutid til  fortid.</p>

<Billedebillede />

<Footer />