---
import "../styles/styles.css";
import MainLayout from "../layouts/MainLayout.astro";
import Heropodcast from "../components/Podcast_side/Heropodcast.astro";
import Podcastcard from "../components/Podcast_side/Podcastcard.astro";
---

<main>
    <!-- Hero sektion på podcast siden -->
    <Heropodcast />
 <!-- Alle VVh podcasts oversigt -->
  <Podcast header="Vanvittig Verdenshistorie" text="Hør vores hovedpodcast! Her får du 90 min. vild historie i din øregang." />

</main>