<div class="afsnit_karrusel">
    <div class="filter_aar">
        <button>2024</button>
        <button>2023</button>
        <button>2022</button>
        <button>2021</button>
        <button>2020</button>
        <button>2019</button>
        <button>2018</button>
    </div>