---

---

<div class="billedeflex">
    <div>
        <img src="/billeder/peter.webp" alt="peter">
            <h2>Peter Loehde</h2>
        <p class="tekst">Jeg har lavet podcast siden jeg var 13 aar. Jeg er vild med at formidle podcast, og arbejder som projektleder på flere podcasts.</p>
    </div>

    <div>
        <img src="/billeder/alex.webp" alt="alex">
            <h2>Alexander Janku</h2>
        <p class="tekst">Jeg er vild med oel og video. Jeg har et helt rum fyldt med oel fra bund til top. Jeg laver dokumentarer og arbejder med lyd.</p>
    </div>
</div>

<style>

    .billedeflex{
        display: flex;
        gap: 10px;
    }
.tekst{
    max-width: 50ch;
}
h2, p{
    color: #fffdea;
   
}
img{
    margin: 20px;
}
</style>