---

---

<div class="billedeflex">
<div>
<img src="/billeder/podcast" alt="podcast">
    <h2>Peter Løhde</h2>
<p class="tekst">Jeg har lavet podcast siden jeg var 13 år. Jeg er vild med at formidle podcast, og arbejder som projektleder på flere podcasts.</p>
</div>
<div>
<img src="/billeder/podcast" alt="podcast">
<h2>Alexander Janku</h2>
<p class="tekst">Jeg har lavet podcast siden jeg var 13 år. Jeg er vild med at formidle podcast, og arbejder som projektleder på flere podcasts.</p>
</div>
</div>

<style>
    .billedeflex{
        display: flex;
    }
.tekst{
    
}
</style>