---

// const header= Astro.props.header;
// const text= Astro.props.text;
const {header, text, soldOut, image} = Astro.props;
---


<article class="liveshow">
      <img src={image} alt={header} />
<h2>{header}</h2>
     <div class="text">
        <p>{text}</p></div>
        </div>
    {soldOut && <p>UDSOLGT</p>}
<slot />
</article>




<style>

    h1, h2, h3, p{
        color: #fffdea;
         max-width: 65ch;
         color: 
    }
 
  img {
    width: 50%;
    border-radius: 20px;
  }

</style>