---
const {img, src, name, description} = Astro.props;
---


<article>

<h2>Hej</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illo suscipit dolores vero exercitationem reiciendis eius sunt voluptate? Aut ad sunt a deserunt sit excepturi saepe odit pariatur molestias alias!
</p>
<button>klik her</button>
</article>

<article>
    
</article>

<style></style>