---
import "../styles/styles.css"
import Button from "./Button.astro";
// const header= Astro.props.header;
// const text= Astro.props.text;
const {header, text, image, buyTicketUrl} = Astro.props;
---
<div class="card-container">
<article class="liveshow">
  <img src={image} alt={header} />
  <h2>{header}</h2>
  <div class="text">
    <p>{text}</p>
  </div>
  <slot />
</article>
</div>

<style>
  .liveshow {
    display: flex; /* Indhold i kortet er fleksibelt */
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
    color: #fffdea;
    box-sizing: border-box;
  }
  img {
    width: 176px;
height: 169px;
    border-radius: 10px;
  }
  h2 {
    font-size: 1.5rem;
    color: #fffdea;;
  }
  .text p {
    font-size: 1rem;
    color: #fffdea;
    text-align: left;
  }
</style>
