---
const { flexbillede } = Astro.props;
---

<article class="flexbillede">
    <div>
        <slot />
    </div>
</article>

<CardOmOs>
  <div>
    <img src="/billeder/peter.webp" alt="peter" />
    <h2>Peter Loehde</h2>
    <p>Jeg har lavet podcast siden jeg var 13 år...</p>
  </div>
  <div>
    <img src="/billeder/alex.webp" alt="alex" />
    <h2>Alexander Janku</h2>
    <p>Jeg er vild med øl og video...</p>
  </div>
</CardOmOs>

<style>
.flexbillede {
    display: flex;
    gap: 10px;
}

.text{
    max-width: 50ch;
}
h2, .text{
    color: #fffdea;
   padding: 10px;
}
img{
    height: auto;
    max-width: 70%;
    max-height: 70%;
}
</style>

