---
import Card from "../components/Newsletter.astro";

---

<footer>

<Card/>

    <article class ="footer_1_1" >
     <div class= "kontakt" >
      <h3>Kontakt</h3>
      <b3>Booking</b3>
      <b3>Martin@bentertained.dk</b3>
    </div>
    <div>
      <b3>Sponsorater</b3>
      <b3>Oliver@podcast.dk</b3>
    </div>
       <div>
      <b3>Andet</b3>
      <b3>vanvittigverdenshistorie@gmail.com</b3>
    </div>

    <div class="icons"> 
        <img
        src="./billeder/facebook.svg"
        alt="facebook billede logo"
        width="20px"
        height="20px"
        />
      
        <img
        src="./billeder/insta.svg"
        alt="instagram billede logo"
        width="20px"
        height="20px"
        />

        <img
        src="./billeder/spoti.svg"
        alt="sporify billede logo"
        width="20px"
        height="20px"
        />

        <img
        src="./billeder/tiktok.svg"
        alt="tiktok billede logo"
        width="20px"
        height="20px"
        />
    </div>
</article>

</footer>

<style>

footer {
width: 100%;
margin-top: 40%;
background-color:#CCD0C9;

}

.footer_1_1 {
display: flex; 
grid-template-columns: 2fr, 1fr;
}

.icons  { 
position: flex;
display: flex;
grid-template-columns: repeat(4, 1fr);
margin: 5%
justify-content: space-around;
align-items: flex-start;
padding: 2rem;
gap: 2%;

}
    </style>