---

---

<footer>
   <section>

     <div>
      <h3>Kontakt</h3>
      <b3>Booking</b3>
      <b3>Martin@bentertained.dk</b3>
    </div>
    <div>
      <b3>Sponsorater</b3>
      <b3>Oliver@podcast.dk</b3>
    </div>
       <div>
      <b3>Andet</b3>
      <b3>vanvittigverdenshistorie@gmail.com</b3>
    </div>

    <div class="icons"> 
        <img
        src="./billeder/facebook.svg"
        alt="facebook billede logo"
        width="20px"
        height="20px"
        />
      
        <img
        src="./billeder/insta.svg"
        alt="instagram billede logo"
        width="20px"
        height="20px"
        />

        <img
        src="./billeder/spoti.svg"
        alt="sporify billede logo"
        width="20px"
        height="20px"
        />

        <img
        src="./billeder/tiktok.svg"
        alt="tiktok billede logo"
        width="20px"
        height="20px"
        />

    </div>

</section>

</footer>