---

---

<header>
<nav>
    <h1>logo/</h1>
    <ul>
        <li><a href="/">Hjem</a></li>
        <li><a href="/">Live Shows</a></li>
    </ul>
</nav>

</header>

<style>
    nav {
        display: flex;
        justify-content: space-between;
    }
</style>