---
const { billederaekke } = Astro.props;
---

<article class="instagram">
    <div>
    <slot />
    </div>
</article>

<style>
    .instagram{
        background-color: #CCD0C9;
        flex-direction: column;
        gap: 10px;
        max-width: 100%;
        height: auto; 
    }
</style>