<div class="section_karrusel">

    <div class="card_episode_1">
        <img src="billeder/meltilmillioner.webp" alt="afsnit_214">
        <div class="b3"> #214: Mel for Millioner</div>

        <!-- Audio på play 1 -->
        <div class="lyd_play">
            <audio id="myAudio1" class="audio" preload="auto">
                <source src="audio/NY-citat-midt-podcast.m4a" type="audio/mp3">
            </audio>
            <div class="lyd_play" id="playBtn1">
                <img src="billeder/play_logo.svg" alt="play">
            </div>
        </div>
    </div>

    <div class="card_episode_2">
        <img src="billeder/aus.webp" alt="afsnit_215">
        <div class="b3"> #213: I Auschwitz... Med vilje (REQUEST)</div>

        <!-- Audio på play 2 -->
        <div class="lyd_play">
            <audio id="myAudio2" class="audio" preload="auto">
                <source src="audio/Intro-VVH.m4a" type="audio/mp3">
            </audio>
            <div class="lyd_play" id="playBtn2">
                <img src="billeder/play_logo.svg" alt="play">
            </div>
        </div>
    </div>
</div>