---
const {img, src, name, description} = Astro.props;
---

<article>

<h3>Meld dig til vores nyhedsbrev</h3>
<p>Meld dig til vores nyhedsbrev og vær den første til at modtage nyt om Live shows, collabs og andet sjovt</p>
<button>klik her</button>

<div>
  <form>
    <div>
    <label>Name:</label>
</div>
    <input type="text" id="name" name="name" value="" />
    <div>
    <label>E-mail:</label>
</div>

    <input type="text" id="email" name="email" value="" />
    <div>

    <input type="submit" value="SIGN UP" />
</div>

  </form>
</div>
</article>

<style>


</style>



