---
const {img, src, name, description} = Astro.props;
---

<article class="nyhedsbrev" >
    <h3>Meld dig til vores nyhedsbrev</h3>
    <p>Meld dig til vores nyhedsbrev og vær den første til at modtage nyt om Live shows, collabs og andet sjovt</p>
<div>
<form>
    <div>
        <label>E-mail:</label>
        <input type="text" id="email" name="email" value="" />
        <input type="submit" value="SIGN UP" />
    </div>
</form>
</div>
</article>

<style>
.nyhedsbrev  { 
 border: 2px solid;
border-color: #582d32;
font-family: Arial, Helvetica, sans-serif;
margin: 20px;
height: 100%;
  }
</style>



