<div class="section_podcast_lyd">
    <div class="Podcast_card_1">
        <img src="billeder/podcast.webp" alt="hovedpodcast billede">
        <h3>Vanvittig Verdenshistorie</h3>
        <div class="b3"> Hør vores hovedpodcast! Her får du 90 min. vild historie i din øregang.</div>
        <a href="https://open.spotify.com/show/2SIj3k4uJ6B7hC1LosHdlP" target="hoved_podcast">
            <img src="billeder/spotify_green_logo.svg" alt="spotify"></a>
    </div>

    <div class="Podcast_card_2">
        <img src="billeder/pixi.webp" alt="podcast pixi">
        <h3>Vanvittig Verdenshistorie Pixi</h3>
        <div class="b3"> Her får du 20 min. korte røverhistorier. </div>
        <a href="https://open.spotify.com/show/4hS2R6sn9LQ1FgVewrTe40" target="pixi">
            <img src="billeder/spotify_green_logo.svg" alt="spotify"></a>
    </div>

    <div class="Podcast_card_3">
        <img src="billeder/jule.webp" alt="Julekalender">
        <h3>Special - Julekalender</h3>
        <div class="b3"> Hver dag i gennem hele december får du én 5 min. historie. </div>
        <a href="https://open.spotify.com/show/2e7osVv7BU0I4fgaFqbJpJ" target="jul">
            <img src="billeder/spotify_green_logo.svg" alt="spotify"></a>
    </div>
</div>

<style>

    
</style>