---

---

<header>
<nav>
    <a href="index" aria-label="Home">
        <img src="../public/billeder/favicon_vvh.svg" alt="Logo" />
      </a>
    <h1>logo/</h1>
    <ul>
        <li><a href="/">Live Shows</a></li>
        <li><a href="/">Podcast</a></li>
        <li><a href="/">Shop</a></li>
        <li><a href="/">Om os</a></li>
    </ul>
</nav>

</header>

<style>
    nav {
        display: flex;
        justify-content: space-between;
    }
</style>